@import '~scss/_colors';

.headerContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 64px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
  width: 100%;
  max-width: 1300px;
}

.notificationsFloat {
  position: absolute;
  right: 0px;
  top: 50px;
}

.hidden {
  display: none;
}

.dot {
  background-color: $red;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin-left: 8px;
}

.hiddenDot {
  margin-left: 8px;
  background-color: transparent;
  height: 8px;
  width: 8px;
  border-radius: 50%;
}