body {
	padding-top: 70px;
}

.index-body {
	background: url(../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

form.rate-star {
	display:inline-block;
}

button.rate-star {
	background-color: transparent;
	border: 0px none transparent;
	padding:0px;
	margin:0px;
}

button.rate-star:hover {
	cursor: pointer;
}

.logo-title {
	font-family: Helvetica;
	font-weight: bold;
	color: #61c2b5;
	text-shadow: 2px 2px 0px rgba(0,0,0,0.6);
	font-size: 15vw;
	text-align: center;
}

.slogan {
	font-family: Helvetica;
	font-weight: bold;
	color: rgb(220,220,220);
	text-shadow: 2px 2px 0px rgba(0,0,0,0.6);
	text-align: center;
	font-size: 3.7vw;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-btn-group {
	width: 100%;
}

.btn-gumpu {
	color:#fff;
	background-color:#61c2b5;
	border-color:#61c2b5;
}
.btn-gumpu:hover {
	color:#fff;
	background-color:#41a295;
	border-color: #41a295;
}

.badge-gumpu {
	color:#fff;
	background-color:#61c2b5
}
.badge-gumpu[href]:focus,.badge-gumpu[href]:hover {
	color:#fff;
	text-decoration:none;
	background-color:#41a295
}

.btn-outline-gumpu {
	color:#61c2b5;
	background-color:transparent;
	background-image:none;
	border-color:#61c2b5
}
.btn-outline-gumpu:hover {
	color:#fff;
	background-color:#61c2b5;
	border-color:#61c2b5
}
.btn-outline-gumpu.focus,.btn-outline-gumpu:focus {
	box-shadow:0 0 0 .2rem rgba(0,123,255,.5)
}
.btn-outline-gumpu.disabled,.btn-outline-gumpu:disabled {
	color:#61c2b5;
	background-color:transparent
}
.btn-outline-gumpu:not(:disabled):not(.disabled).active,.btn-outline-gumpu:not(:disabled):not(.disabled):active,.show>.btn-outline-gumpu.dropdown-toggle {
	color:#fff;
	background-color:#61c2b5;
	border-color:#61c2b5
}
.btn-outline-gumpu:not(:disabled):not(.disabled).active:focus,.btn-outline-gumpu:not(:disabled):not(.disabled):active:focus,.show>.btn-outline-gumpu.dropdown-toggle:focus {
	box-shadow:0 0 0 .2rem rgba(0,123,255,.5)
}

.publication-canvas {
	height: 180px;
	width: 286px;
	border: dashed grey 1px;
}

.capitalized {
	text-transform: capitalize;
}

.bold {
	font-weight: bold;
}
