.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.center {
  justify-content: center;
}

.center-alt {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.space-between-alt {
  align-items: space-between;
}

.flex-start {
  justify-content: flex-start;
}

.flex-start-alt {
  align-items: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.flex-end-alt {
  align-items: flex-end;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}
