$black: #545454;
$blue: #0085FF;
$green: #B1DD68;
$yellow: #FFD600;
$red: #FF728B;
$gray1: #F4F4F4;
$gray2: #C4C4C4;
$gray3: #8F8F8F;
$white: #FFFFFF;
$black-alpha5: rgba(0, 0, 0, 0.05);
$black-alpha60: rgba(7, 12, 18, 0.6);