@import '~scss/_colors';

.productCard {
  width: 256px;
  min-height: 442px;
}

.image {
  width: 208px;
  height: 208px;
  border-radius: 8px;
}

.imagePlaceHolder {
  @extend .image;
  background-color: $gray1;
}

.titlePlaceHolder {
  background-color: $gray1;
  width: 208px;
  height: 58px;
}

.pricePlaceHolder {
  background-color: $gray1;
  width: 84px;
  height: 38px;
}

.ratingPlaceHolder {
  background-color: $gray1;
  width: 170px;
  height: 34px;
}